body{
    background-image: url("images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100%100%;
    background-attachment: fixed ;
}
.h{ text-align: center;
    font-size: 40px;
    color: whitesmoke;
    background-color: black;
    font-style: italic;
}
.info{
    font-size: 30px;
    color: yellow;
}